/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(35,37,51); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: orange; 
}


body {
  font-family: sans-serif;
  margin: 0;
  background-color: rgb(50,52,69);
}

main {
  display: grid;
  place-content: center; 
  place-items: center;
  padding-top: 50px;
}

.search {
  width: 410px;
  max-width: 410px;
}


.searchForm {
  border: 3px solid orange;
  border-radius: 15px;
  background-color: rgb(35,37,51);
}

.searchForm input{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 20px;
  width: 300px;
  max-width: 300px;
  font-size: 20px;
  color: white;
}

button[type=submit] {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 20px;
}

::placeholder {
  color: white;
}

.weather-info {
  margin-top: 50px;
}

.card {
  width: 340px;
  min-height: 300px;
  margin: 10px;
  background-color: rgb(35,37,51);
  border-radius: 15px;
  padding: px;
  color: white;
  padding: 20px;
}

.plaats, .datum {
  text-align: center;
  margin: 0;
}

.datum {
  color: orange;
}

.plaats {
  font-size: 30px;
  font-weight: bold;
}

.info {
  font-size: 20px;
}

.value {
  color: orange;
}

.icon {
  width: 50px;
}

.omschrijving {
  display: flex;
  align-items: center;
  margin: 0px;
  margin-bottom: 20px;
  place-content: center;
  color: white;
}

.temp {
  margin-top: 0px;
}